name: Frends.Oracle.ExecuteProcedure Main

on:
  push:
    branches:    
      - master
    paths:
      - 'Frends.Oracle.ExecuteProcedure/**'
  workflow_dispatch:
  

jobs:
  build:
    uses: FrendsPlatform/FrendsTasks/.github/workflows/linux_build_main.yml@main
    with:
      workdir: Frends.Oracle.ExecuteProcedure
    secrets:
      badge_service_api_key: ${{ secrets.BADGE_SERVICE_API_KEY }}
  